

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* HERO SECTION BEGINS */

.container-hero {
    background-image: url(condo_1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
}

.content-hero {
    position: relative;
}

.hero-section-1 {
    margin-top: 200px;
    width: 650px;
    justify-content: left;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-left: 5%;

    h1 {
        font-size: 5rem;
        color: #332d2d;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.5rem;
        padding-top: 1rem;
        margin-bottom: 3.5rem;
        color: #494444;
    }
}

/* HERO SECTION ENDS */

/* ABOUT US SECTION BEGINS */

.hero-section-2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
  
  .about-us-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .aboutush3{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    margin-bottom: 20px;
    color: #332d2d;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .paragraphs p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #332d2d;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .cards {
    display: flex;
    justify-content: space-around; /* Adjust as needed to control the spacing between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next row if the container is too narrow */
  }
  
  .card {
    text-align: center;
    flex: 1; /* Distribute available space equally among cards */
    padding: 40px;
    background-color: rgba(237, 249, 255, 0.783); /* White background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    border-radius: 5px; /* Add rounded corners */
    transition: transform 0.2s;
    margin: 30px;/* Adjust margin between cards */
    max-width: 470px; /* Limit the maximum width of each card */
    height: 270px;
    margin-bottom:75px;

    p {
        color: #000000;
        margin-bottom: 10px;
    }
  }
  
  .card-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: larger;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  .card:hover {
    transform: scale(1.05); /* Add a scale effect on hover */
    background-color:#cdcdcd;
  }

  .card-title{
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #000000;
  }

/* ABOUT US SECTION ENDS */